<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>userInfo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="./element-ui/lib/theme-chalk/index.css">
    <script src="./js/vue.min.js"></script>
    <script src="./element-ui/lib/index.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <style>

    </style>
</head>
<div id="appUpdatePassword" style="width: 60%">
    <el-divider></el-divider>

    <el-form :model="updatePasswordForm" status-icon :rules="rules" ref="updatePasswordForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="原密码" prop="oldPassword">
            <el-input v-model="updatePasswordForm.oldPassword"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="pass">
            <el-input type="password" v-model="updatePasswordForm.pass" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="checkPass">
            <el-input type="password" v-model="updatePasswordForm.checkPass" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="updatePassword">提交</el-button>
            <el-button @click="resetForm('updatePasswordForm')">重置</el-button>
        </el-form-item>
    </el-form>

</div>
<script>
    var MainUpdatePassword = {
        data() {
            var checkOldPassword = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('原密码不能为空'));
                }
            };
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.updatePasswordForm.checkPass !== '') {
                        this.$refs.updatePasswordForm.validateField('checkPass');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.updatePasswordForm.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return {
                currentUser: {},
                updatePasswordForm: {
                    pass: '',
                    checkPass: '',
                    oldPassword: ''
                },
                rules: {
                    pass: [
                        { validator: validatePass, trigger: 'blur' }
                    ],
                    checkPass: [
                        { validator: validatePass2, trigger: 'blur' }
                    ],
                    oldPassword: [
                        { validator: checkOldPassword, trigger: 'blur' }
                    ]
                }
            };
        },
        methods: {

            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            updatePassword(){
                let V = this
                if(this.updatePasswordForm.oldPassword === ''
                || this.updatePasswordForm.pass !== this.updatePasswordForm.checkPass){
                    return
                }
                axios({
                    method: 'put',
                    url: 'http://localhost/user/updatePassword?id='+this.currentUser.id + "&password=" + this.updatePasswordForm.pass
                    +"&oldPassword=" + this.updatePasswordForm.oldPassword
                }).then(function (arr) {
                    let user = arr.data.data;
                    if(arr.data.statusCode === 666){
                        V.$message({
                            showClose: false,
                            message: '修改成功,请重新登录',
                            type: 'success',
                            duration: 1000
                        })
                        alert("修改成功,请重新登录")
                        window.location="/"
                    }else{
                        V.$message({
                            showClose: false,
                            message: '修改失败',
                            type: 'error',
                            duration: 1000
                        })
                    }
                })
            }

        }
    }
    var CtorUpdatePassword = Vue.extend(MainUpdatePassword)
    var appUpdatePassword = new CtorUpdatePassword().$mount('#appUpdatePassword');
    axios({
        method: 'get',
        url: 'http://localhost/user/getCurrentUser'
    }).then(function (arr) {
        let user = arr.data.data;
        if(arr.data.statusCode !== 666){
            window.location = '/'
        }else{
            appUpdatePassword.currentUser = arr.data.data
        }
    })
</script>